@model string
@{
    ViewData["Title"] = "Registration";
}
<div class="alert alert-info" role="alert">
    Thank you for registering on Alice Identity Service. An email has been sent to the address
    <em>@Model</em>. Please click on the link in the email to confirm your email address
    and activate your account.
</div>
