@model ClientInputModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Clients</a></li>
        <li class="breadcrumb-item"><a asp-action="View" asp-route-id="@Model.Id">@Model.ClientName</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
</nav>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="ClientType"></label>
            <select class="form-control" asp-for="ClientType" asp-items="Html.GetEnumSelectList<ClientType>()"></select>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ClientName"></label>
            <input asp-for="ClientName" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ClientId"></label>
            <input asp-for="ClientId" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label id="secretToggle" asp-for="ClientSecrets"></label>
            <input asp-for="ClientSecrets" class="form-control" disabled>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ProtocolType"></label>
            <input asp-for="ProtocolType" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="AllowedGrantTypes"></label>
            <input asp-for="AllowedGrantTypes" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="RedirectUris"></label>
            <input asp-for="RedirectUris" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="AllowedCorsOrigins"></label>
            <input asp-for="AllowedCorsOrigins" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="IdentityTokenLifetime"></label>
            <input asp-for="IdentityTokenLifetime" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="AccessTokenLifetime"></label>
            <input asp-for="AccessTokenLifetime" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ClientUri"></label>
            <input asp-for="ClientUri" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="LogoUri"></label>
            <input asp-for="LogoUri" class="form-control">
        </div>
        <div class="col-12 mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
    </div>
    <div class="custom-control custom-switch">
        <input asp-for="RequireClientSecret" class="custom-control-input">
        <label asp-for="RequireClientSecret" class="custom-control-label"></label>
    </div>
    <div class="custom-control custom-switch">
        <input asp-for="AlwaysIncludeUserClaimsInIdToken" class="custom-control-input">
        <label asp-for="AlwaysIncludeUserClaimsInIdToken" class="custom-control-label"></label>
    </div>
    <div class="custom-control custom-switch">
        <input asp-for="RequirePkce" class="custom-control-input">
        <label asp-for="RequirePkce" class="custom-control-label"></label>
    </div>
    <div class="custom-control custom-switch">
        <input asp-for="AllowPlainTextPkce" class="custom-control-input">
        <label asp-for="AllowPlainTextPkce" class="custom-control-label"></label>
    </div>
    <div class="custom-control custom-switch">
        <input asp-for="RequireConsent" class="custom-control-input">
        <label asp-for="RequireConsent" class="custom-control-label"></label>
    </div>
    <div class="custom-control custom-switch mb-3">
        <input asp-for="AllowRememberConsent" class="custom-control-input">
        <label asp-for="AllowRememberConsent" class="custom-control-label"></label>
    </div>
    <a asp-action="Index" class="btn btn-secondary mr-2">Cancel</a>
    <button class="btn btn-primary">Save</button>
</form>

@section Scripts{
    <script>
        // From https://stackoverflow.com/questions/105034/how-to-create-guid-uuid
        function uuidv4() {
            return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }
        $(function () {
            $("#secretToggle").click(function () {
                var clientSecret = $("#ClientSecrets");
                if (clientSecret.prop("disabled")) {
                    clientSecret.prop("disabled", false);
                    clientSecret.val(uuidv4());
                    $("#RequireClientSecret").prop("checked", true);
                }
                else {
                    clientSecret.val("");
                    clientSecret.prop("disabled", true);
                    $("#RequireClientSecret").prop("checked", false);
                }
            });
            $("#RequireClientSecret").change(function () {
                if ($("#RequireClientSecret").prop("checked")) {
                    $("#ClientSecrets").prop("disabled", false);
                    $("#ClientSecrets").val(uuidv4());
                }
            });
        });
    </script>
}
