@model List<Client>

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active align-bottom">Clients</li>
        <li class="ml-auto"><a asp-action="Add" class="btn btn-primary btn-sm">Add</a></li>
    </ol>
</nav>

<table class="table">
    <thead>
        <tr><th>Name</th><th>Type</th><th>Client ID</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.ClientName</td>
                <td>@client.GetClientType()</td>
                <td>@client.ClientId</td>
                <td><a asp-action="Edit" asp-route-id="@client.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
