@using IdentityServer4.Extensions
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Alice Identity Service</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootswatch/darkly/bootstrap.min.css" />
</head>
<body class="container">
    <div class="nav-page">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="~/">Alice Identity Service</a>
            @if (User.Identity.IsAuthenticated)
            {
                var name = User.GetDisplayName();
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        @if ((await AuthorizationService.AuthorizeAsync(User, "IsAdmin")).Succeeded)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Clients">Clients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Users</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" href="~/Identity/Account/Manage">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            }
        </nav>
    </div>
    <main role="main" class="my-3" style="min-height: 600px;">
        @RenderBody()
    </main>

    <footer class="text-center">
        <div>
            Copyright &copy; Chengyu Sun 2020.
        </div>
        <div>
            Built with <a href="http://docs.identityserver.io/en/latest/index.html">IdentityServer4</a> and
            <a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity">ASP.NET Core Identity</a>.
        </div>
        <div class="text-center">
            Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
            from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
