{
  "Application": {
    "Url": "http://localhost:5000",
    "PathBase": "/"
  },
  "Certificate": {
    "File": "AliceIdService.pfx",
    "Pass": "1234"
  },
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=ais;Username=cysun;Password=abcd"
  },
  "SendGrid": {
    "SenderName": "Alice Identity Service",
    "SenderEmail": "identity@cysun.org",
    "ApiKey": "1234"
  },
  "Serilog": {
    "Using": [
      "Serilog.Sinks.File"
    ],
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "path": "D:/Temp/AliceIdentityService/logs/log.txt",
          "rollingInterval": "Day",
          "retainedFileCountLimit": null
        }
      }
    ],
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Enrich": [
      "FromLogContext"
    ]
  },
  "AllowedHosts": "*"
}
