@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

@if (Model.EmailConfirmed)
{
    <p class="lead">
        Thank you for confirming your email.
        Please click <a href="~/Account/Login">here</a> to log in.
    </p>
}
else
{
    <p class="lead text-danger">Sorry we are not able to confirm your email.</p>
}