@model EditUserInputModel
@{
    ViewData["Title"] = "Edit User";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Users</a></li>
        <li class="breadcrumb-item active">@Model.Name</li>
    </ol>
</nav>

<ul class="nav nav-tabs" id="editUserTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="account-tab" data-toggle="tab" href="#account" role="tab"
           aria-controls="account" aria-selected="true">Account</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="claims-tab" data-toggle="tab" href="#claims" role="tab"
           aria-controls="claims" aria-selected="false">Claims</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">

        <form method="post">
            <div class="form-row mt-3">
                <div class="form-group col-md-6">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Nickname"></label>
                    <input asp-for="Nickname" class="form-control" />
                    <span asp-validation-for="Nickname" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <small id="passwordHelp" class="form-text text-muted">
                        Leave password field empty if you do not want to change password.
                        Passwords must be at least six characters long, and contain at least one
                        uppercase character, one lowercase character, a digit, and a non-alphanumeric
                        character.
                    </small>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="custom-control custom-switch">
                <input asp-for="IsAdministrator" class="custom-control-input">
                <label asp-for="IsAdministrator" class="custom-control-label"></label>
            </div>
            <div class="custom-control custom-switch mb-3">
                <input asp-for="EmailConfirmed" class="custom-control-input">
                <label asp-for="EmailConfirmed" class="custom-control-label"></label>
            </div>
            <a class="btn btn-secondary mr-2" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="tab-pane fade" id="claims" role="tabpanel" aria-labelledby="claims-tab">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                ...
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
